<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>PiZZima-More pizzas for Isima</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
    <%- include('_layout/header')-%>
    <div class="container">
        <div class="section">
            <h1 class="header red-text">Les bons plans du moment</h1>
        <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m3">
                    <div class="card">
                        <div class="card-image">
                            <img src="/static/images/FR_PCHP_fr_menu_1846.jpg">
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Pepperoni</span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
                            <p>Sauce tomate, mozzarella, saucisson pepperoni.</p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m3">
                    <div class="card">
                        <div class="card-image">
                            <img src="/static/images/FR_PSME_fr_menu_1846.jpg">
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Merguez</span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
                            <p>Sauce tomate, mozzarella, merguez.</p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m3">
                    <div class="card">
                        <div class="card-image">
                            <img src="/static/images/FR_PMAR_fr_menu_1846.jpg">
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Margherita</span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
                            <p>Sauce tomate, mozzarella.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <h1 class="red-text">Les nouveautés</h1>
            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m3">
                    <div class="card">
                        <div class="card-image">
                            <img src="/static/images/FR_PPBF_fr_menu_2762.jpg">
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Chick'n Bacon</span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
                            <p>Sauce barbecue, mozzarella, bacon, poulet rôti, oignons, tomates fraîches, oignons croustillants.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <h1 class="red-text">Les incontournables</h1>
            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m3">
                    <div class="card">
                        <div class="card-image">
                            <img src="/static/images/FR_PPBF_fr_menu_2762.jpg">
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Pepper Beef</span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
                            <p>Sauce tomate, mozzarella, pommes de terre sautées, boulettes de boeuf assaisonnées, oignons, assaisonnement au poivre.</p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m3">
                    <div class="card">
                        <div class="card-image">
                            <img src="/static/images/FR_PPBF_fr_menu_2762.jpg">
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Steak&Cheese</span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
                            <p>Sauce tomate, mozzarella, boulettes de boeuf assaisonnées, tomates fraîches, origan.</p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="section">
            <h1 class="red-text">Faites vous plaisir</h1>
        <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m3">
                    <div class="card">
                        <div class="card-image">
                            <img src="/static/images/FR_PSDB_fr_menu_1836.jpg">
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Spicy Dallas</span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
                            <p>Sauce barbecue, mozzarella, saucisson pepperoni, oignons, boulettes de boeuf assaisonnées, poulet rôti, bacon, relevée avec une sauce Dallas, à la fois douce et piquante.</p>
                        </div>
                    </div>
                </div>

                <div class="col s12 m3">
                    <div class="card">
                        <div class="card-image">
                            <img src="/static/images/FR_PCAN_fr_menu_2047.jpg">
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Cannibale</span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
                            <p>Sauce barbecue, mozzarella, poulet rôti, merguez, boulettes de boeuf assaisonnées.</p>
                        </div>
                    </div>
                </div>

                <div class="col s12 m3">
                    <div class="card">
                        <div class="card-image">
                            <img src="/static/images/FR_P4FR_fr_menu_2142.jpg">
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">4 Fromages</span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
                            <p>Sauce tomate (ou crème fraîche légère), mozzarella, chèvre, Emmental, Fourme d’Ambert A.O.P.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('_layout/footer')-%>

    </body>
</html>
