
<!--Login Form -->

<div id="logindiv">
    <div class="login-page">
        <div class="form">
            <form class="register-form">
                <input id="login" type="text" placeholder="username" required/>
                <input id="passwd" type="password" placeholder="password" required/>
                <input id="mail" type="text" placeholder="email address" required/>
                <button id="create">Create</button>
                <input type="button" class="cancel" value="Cancel"/>
                <p class="message">Already registered? <a href="#">Sign In</a></p>
            </form>
            <form class="login-form">
                <input id="username" type="text" placeholder="username" required/>
                <input id="password" type="password" placeholder="password" required/>
                <button id="send">Send</button>
                <input type="button" class="cancel" value="Cancel"/>
                <p class="message">Not registered? <a href="#">Create an account</a></p>
          </form>
        </div>
    </div>
</div>
        

        