<footer class="page-footer grey darken-3">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">PiZZima</h5>
              <p class="grey-text text-lighten-4">Service de commande de pizzas Domino's propre à l'ISIMA, avec une carte unique réalisée par des professionnels (de leur profession).</p>
    
    
            </div>
            <div class="col l3 s12">
              <h5 class="white-text">Contact</h5>
              <ul>
                <li><a class="white-text" href="#!">mun.benoit@gmail.com</a></li>
                <li><a class="white-text" href="#!">+33 678 582 058</a></li>
                <li><a class="white-text" href="#!">33 place de la liberté</a></li>
                <li><a class="white-text" href="#!">63100 Clermont-Ferrand</a></li>
              </ul>
            </div>
            <div class="col l3 s12">
              <h5 class="white-text">Nos partenaires</h5>
              <ul>
                <li><a class="white-text" href="#!">Bde ISIMA</a></li>
                <li><a class="white-text" href="#!">ISIMA</a></li>
                <li><a class="white-text" href="#!">Domino's</a></li>
                <li><a class="white-text" href="#!">Im@ge</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
        </div>
      </footer>
    
    
      <!--  Scripts-->
      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="/static/js/materialize.js"></script>
      <script src="/static/js/init.js"></script>